.page {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .filters {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
    }

    .formWrapper {
        max-width: 500px;

        h2 {
            margin: 0 0 20px;
            font-size: 20px;
            font-weight: 600;
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .actions {
        display: flex;
        gap: 12px;
        justify-content: flex-end;
        margin-top: 16px;
    }
}
