:root {
  // Шрифты
  --font-family-rubik: "Rubik", sans-serif;

  // Цвета
  --dark-light: #000000;
  --white-light: #ffffff;
  --gray-primary-text: #9E9E9E;
  --gray-secondary-text: #636363;
  --gray-third-text: #424242;
  --desciption-primary-text: #596780;
  --violet-light: #4379FF;
  --violet-light-active: #1d43a3;
  --bg-color: #F3F3F3;


  --third-btn-bg: #DBDEEB;
  --third-btn-bg-active: #b7b8bd;


  --disabled-bg: #e0e0e0;     
  --disabled-color: #9e9e9e; 
  --disabled-border: #d0d0d0; 
}