.MainLayout {
    height: 100%;
    width: 100%;
    display: flex;
    padding: 20px;
    gap: 20px;

    .Content {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        gap: 20px;

        .Page {
            flex: 1;
            padding: 20px;
            background-color: var(--content-bg);
            border-radius: 10px;
            overflow-y: auto;
        }
    }
}
