.MainLayout {
    height: 100%;
    width: 100%;
    display: flex;
    gap: 20px;

    .Content {
        flex: 1;
        min-width: 0;
        display: flex;
        flex-direction: column;
        align-content: center;
        gap: 20px;
        overflow: hidden;

        .Page {
            flex: 1;
            min-width: 0;
            overflow: auto;
        }
    }
}